
\.idea/inspectionProfiles/Project_Default\.xml

\.idea/modules\.xml

\.idea/planet4-child-theme-brasil\.iml

\.idea/vcs\.xml

\.idea/workspace\.xml
.DS_Store
donateCard.html
index.html
composer.lock
vendor/autoload.php
vendor/composer/autoload_classmap.php
vendor/composer/autoload_namespaces.php
vendor/composer/autoload_psr4.php
vendor/composer/autoload_real.php
vendor/composer/autoload_static.php
vendor/composer/ClassLoader.php
vendor/composer/installed.json
vendor/composer/installed.php
vendor/composer/InstalledVersions.php
vendor/composer/LICENSE
